{% extends 'layouts/layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <form class="row g-3 my-3" method="post">
            <div class="col">
                <h4 class="text-light">Add new book</h4>
            </div>
            <div class="col">
                <input class="form-control" type="text" name="image" placeholder="how can i add an image?">
            </div>
            <div class="col">
                <input class="form-control" type="text" name="b_name" placeholder="Book name">
            </div>
            <div class="col">
                <input class="form-control" type="text" name="a_name" placeholder="Author name">
            </div>
            <div class="col">
                <input class="form-control" type="text" name="description" placeholder="Description">
            </div>
            <div class="col">
                <input class="form-control" type="text" name="year" placeholder="Year">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary">Send</button>
            </div>
        </form>
        <div class="container">
            <span class="text-light col">Select filter:</span>
            {% for index, filter in filters %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filterRadio" id="filterRadio{{ index }}" value="{{ filter }}">
                    <label class="form-check-label text-light" for="filterRadio{{ index }}">{{ filter }}</label>
                </div>
            {% endfor %}

            <span class="text-light col">Order by:</span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="OrderRadio" id="OrderRadio1" value="acending">
                <label class="form-check-label text-light" for="OrderRadio1">Ascending </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="OrderRadio" id="OrderRadio2" value="descending">
                <label class="form-check-label text-light" for="OrderRadio2">Descending</label>
            </div>
            {% if option %}
                <form class="row g-3">
                    <input class="form-control my-3" type="text" name="{{ option }}" placeholder="{{ option }}">
                </form>
            {% endif %}
{#            <select class="form-select col" name="filter">#}
{#                <option disabled selected value="">Filter</option>#}
{#                {% for filter in filters %}#}
{#                    <option value="{{ filter }}">{{ filter }}</option>#}
{#                {% endfor %}#}
{#            </select>#}

            {#            {% if filter == 'Year' %}#}
            {#                <select name="year">#}
            {#                    {% for year in years %}#}
            {#                        <option value="{{ year }}">{{ year }}</option>#}
            {#                    {% endfor %}#}
            {#                </select>#}
            {#            {% else %}#}
            {#                <form method="post">#}
            {#                    <input class="form-control" name="filter" placeholder="Input {{ filter }}"></input>#}
            {#                </form>#}
            {#            {% endif %}#}
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                    {% for book in library %}
                        <tr>
                            <th>{{ book.image }}</th>
                            <th>{{ book.bName }}</th>
                            <th>{{ book.author }}</th>
                            <th>{{ book.description }}</th>
                            <th>{{ book.year }}</th>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}